* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;

}

.container {
    position: fixed; 
    width: 100%; 
    height: 100vh; 
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/stadium.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-left: 5%;
    padding-right: 5%; 
    padding-top: 3%; 
    box-sizing: border-box;  
    overflow-y: auto; 
}

.navbar {
    height: 12%;
    display: inline-flex; 
    align-items: center; 
}

.logo { 
    filter: contrast(0) brightness(100); 
    width: 150px; 
    opacity: 80%;
}

.ttc {
    padding-left: 10px; 
    font-weight: bold; 
    font-style:italic; 
    font-size: 80px; 
    color: white;
    opacity: 75%; 
    letter-spacing: 10px; 
}

.menu {
    float: right; 
    padding-top:15px; 
}

#menubtn { 
    align-items: center; 
    font-size: 50px;
    cursor: pointer; 
    display: fixed;
    background-color: transparent; 
    border: none; 
    color: white;
    float:inline-end
}


#menubtn:hover {
    color:linear-gradient(135deg, rgba(160,159,159,0.4), rgba(160,159,159,0.2)); 
    filter: blur(1px);
}

nav {
    display: none; 
    text-align: center;
    background-color:#333333; 
    border-radius: 40px; 
    transition: 0.5s;
    box-shadow: 10px 20px 40px inset rgba(0,0,0,0.25);

}


nav ul li {
    list-style: none; 
    display: inline-block; 
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold; 
    text-align: center; 
}

nav ul li:hover {
    background-color: rgba(0,0,0,0.2);
}

.wrapper{
    margin-top: 5vh;
    display: flex; 
    flex-wrap: wrap;
}

.welcomecontainer{
    width: 40vw; 
    aspect-ratio: 16/9;
    border-radius: 20px;  
    background: linear-gradient(135deg, rgba(160,159,159,0.4), rgba(160,159,159,0.2)); 
    backdrop-filter: blur(2px);
    transition: 0.4s; 
    box-shadow: 0px 10px 20px rgba(0,0,0,0.25); 
    margin-right: 3%;
    padding-bottom: 5%;
}

.welcomecontainer:hover{
    transform:translate(10px,10px);
    transition: 0.5s; 
}
.catchit { 
    padding-top: 15%;
    text-align: center;
    color: rgb(226, 226, 226, 0.75);
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 40px; 
}

.photos {
    display: inline-flex;
    flex-wrap: wrap;
    width: 50%;
    background: linear-gradient(135deg, rgba(160,159,159,0.4), rgba(160,159,159,0.2)); 
    backdrop-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.25); 
    transition: 0.5s; 
}

.photos:hover {
    transform:translate(10px,10px);
    transition: 0.5s; 
}

.photos .pic{
    flex: 50%;
    max-width: 50%;
}


.photos img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3; 
    cursor: pointer; 
    scale: none; 
    border-radius: 40px; 
    transition: 0.5s; 
    padding: 3%;
}

footer {
    display: flex; 
    color: white; 
    font-size: 24px; 
    text-align: center; 
    flex-shrink: 0;
    background: linear-gradient(135deg, rgba(160,159,159,0.4), rgba(160,159,159,0.2)); 
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin-top: 3%;
    margin-bottom: 3%; 
}

.socials {
    display: inline-flex; 
    width: 25%;
    float: left;   
}

.icons {
    display: inline;
    flex-wrap: wrap;
}

.icons img {
    width: 35%;
    padding: 7%;
    filter: grayscale(100) 
}

.icons img:hover, img:active{
    filter: none; 
}

.notsocials { 
    display: inline; 
    width: 75%;
    font-size: 16px; 
    margin-top: 15%;
    margin-bottom: 15%;
}

.notsocials a {
    word-spacing: 30px;
    font-size: 20px; 
    text-decoration: none;  
}



@media screen and
(max-width: 900px) and (orientation: portrait) {
    .logo{
        width: 100px; 
    }

    .ttc {
        font-size: 40px; 
    }

    nav {
        margin: auto;  
        width: 80vw;
    }

    nav ul li {
        padding-right: 40px; 
        padding-left:40px;
        padding-top: 10px;
        padding-bottom: 10px; 
    }
    
    nav a {
        font-size: 20px; 
        font-weight: bolder; 
    }

    .wrapper {
        margin-top: 3vh; 
    }

    .welcomecontainer:hover{
        transform: none; 

    }
    .photos:hover {
        transform: none; 
    }

    .welcomecontainer { 
        margin: auto; 
        width: 100vw;
    }

    .catchit {
        padding-top: 0;
    }

    h1 {
        font-size: 40px; 
    }
    
    h3 {
        font-size: 24px;
    }

    .photos {
        margin: auto; 
        margin-top: 2vh; 
        width: 100vw; 
    }

    .photos img{
        width: 30vw;
        border-radius: 20px;  
    }

    .icons {
        margin-top: 50%;
        margin-bottom:50%;
    }

    .icons img {
        width: 40%;
        padding: 5%; 
    }

    .notsocials a {
        word-spacing: 20px;
        font-size: 16px; 
        text-decoration: none;  
    }
    
}

@media screen and
(max-width: 927px) and (orientation: landscape) {
    .logo{
        padding-top: 2%;
        width: 100px; 
    }

    .ttc {
        font-size: 40px; 
    }

    nav a {
        font-size: 20px; 
    }
    .welcomecontainer { 
        height: 25%; 
        
    }

    .catchit { 
        font-size: 16px;
        align-items: center; 
        font-size: 16px;
        text-align: center;
        color: rgb(226, 226, 226, 0.75);
        padding-top: 5%; 
        
    }
    h1 {
        font-size: 40px; 
    }
    
    h3 {
        font-size: 24px;
    }

    .photos {
        display: flex; 
        flex-wrap: nowrap; 
    }
    .photos img {
        padding: 2%; 
    }

    .icons img {
        width: 40%;
        padding: 5%; 
    }

}




















