* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

nav {
    border:5px solid red; 
    height: 200px;
    background: #999999;
    display: flex; 
    justify-content: space-between; 
    align-items: center;

}

.mask {

    border:5px solid red; 
    align-items:center; 
    
}

.tough {
    border:5px solid red; 
    align-items:center; 
    font-size: 100px;
    font-weight: bold;
    font-variant:small-caps; 
    text-decoration:underline;

}

.nav-items {
    border:5px solid red; 
    font-size: 10px;
    word-spacing: 10px;
    justify-content: center; 
    padding-right: 10px;
    font-size: 25px;
    font-weight: bolder;
    list-style-type: none; 

}


a:link {
    color: black;
}
a:hover {
    color:red; 
}

.welcome {
    border:5px solid red; 
    display:flex;
    justify-content: center; 
    padding-top: 60px 
    
}


.pic1 {
    border:5px solid red; 
    border-radius: 30px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 75%;
}

.pic2 {
    border:5px solid red; 
    border-radius: 30px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 75%;
}

.pic3 {
    border:5px solid red; 
    border-radius: 30px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 75%;
    
}

.pic4 {
    border:5px solid red; 
    border-radius: 30px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 75%;
}




